project:
  type: website

website:
  title: ""
  navbar:
    left:
      - href: index.qmd
        text: Home
      - href: projects.qmd
        text: Projects
      - href: course.qmd
        text: Courses
  page-footer:
    right: "&copy; 2025, Diandian Shi"
  
format:
  html: 
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true

execute:
  freeze: auto


  
